/*Variables*/
$brown: #2e211a;
$light: #e9dccd;
$cream: #f6eee3;
$yellow: #de9e48;

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,500;1,600&family=Roboto:wght@300;400&display=swap');

@mixin grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  zoom: 60%;
  background-color: $cream;
}

.grid-content {
  @include grid-12;
  margin: auto;
  max-width: 1200px;
}

header {
  grid-column: 1/12;
  margin-top: 145px;
  max-width: 1200px;
}
