/*Variables*/
/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,500;1,600&family=Roboto:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  zoom: 60%;
  background-color: #f6eee3;
}

.grid-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  margin: auto;
  max-width: 1200px;
}

header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 11;
  grid-column: 1/12;
  margin-top: 145px;
  max-width: 1200px;
}

.nav {
  color: #2e211a;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.nav > a {
  text-decoration: none;
  font-size: 18px;
  color: #2e211a;
}

.nav__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: -40px;
}

.nav__right > a {
  padding-right: 5px;
  font-size: 18px;
  padding: 0px 49px;
  text-decoration: none;
  color: #2e211a;
}

main {
  -ms-grid-column: 1;
  -ms-grid-column-span: 11;
  grid-column: 1/12;
}

section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

#data-analysis {
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.data-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  margin-top: 66px;
}

.data-heading {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  font-family: 'Cormorant Garamond', serif;
  font-size: 80px;
  color: #2e211a;
}

.data-text {
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7/13;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: end;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: #2e211a;
  word-spacing: 0.25em;
  line-height: 1.4em;
  font-size: 16px;
  font-weight: 300;
}

.data-star {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  margin-top: 35px;
}

.data-image {
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7/13;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column-align: end;
      justify-self: end;
}

.data-image img {
  -o-object-fit: scale-down;
     object-fit: scale-down;
  max-width: 510px;
  max-height: 246px;
}
/*# sourceMappingURL=style-one.css.map */